.burgerMenu {
    --color: #fff;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    outline: none;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #DD5C28;
    border-radius: 50%;
}
.burgerMenu svg {
    width: 48px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
}
.burgerMenu svg path {
    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    transform: translateZ(0);
}
.burgerMenu svg path:nth-child(2) {
    --duration: 0.7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
}
.burgerMenu svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
}
.burgerMenu.active svg path {
    --offset: 57px;
}
.burgerMenu.active svg path:nth-child(1), .burgerMenu.active svg path:nth-child(3) {
    --delay: 0.15s;
    --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.burgerMenu.active svg path:nth-child(2) {
    --duration: 0.4s;
    --offset: 2px;
    --array-1: 1px;
}
.burgerMenu.active svg path:nth-child(3) {
    --offset: 58px;
}

.header{
    width: 100%;
    padding: 32px 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-family: 'Futura Bold';
}

.header .burgerMenu{
    z-index: 5;
}

.nav, .sidenavOverlay{
    position: absolute;
}

.sidenav, .sidenavOverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


.sidenavOverlay {
    background-color: #707070;
    opacity: 0.5;
    z-index: 1;
}

.sidenav a {
    width: 100%;
    margin-bottom: 48px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a.active{
    color: #DD5C28;
}

.sidenav a:hover {
    color: #dd5b28c4;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav.active, .sidenavOverlay.active{
    width: 100%;
}

nav.active{
    padding: 0 80px;
}

.breadcrumb{
    font-size: 20px;
}

.breadcrumb .prev{
    color: #848C92;
    display: flex;
    align-items: center;
}

.breadcrumb .prev img{
    margin-left: 16px;
    margin-right: 8px;
}

.breadcrumb .curr{
    color: #2B2B2B;
}

.nav a{
    color: #2B2B2B;
}

.nav a:hover, a.active{
    color: #DD5C28;
}

@media(min-width: 764px){
    .header{
        padding: 42px 100px;
        margin-bottom: 58px;
    }
    .nav.active{
        width: 500px;
    }
    .breadcrumb .prev{
        display: inline-flex;
    }
}
/* Header END */
