@font-face {
    font-family: 'Futura Bold';
    src: url('../assets/fonts/futura-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/futura-bold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    position: relative;
}
.animated-cont{
    display: flex;
    height: 53px;
    margin-bottom: 20px;
}
.animated-cont h3{
    display: flex;
    align-items: center;
}
.animated-text{
    font-family: Futura;
    font-size: 40px;
    color: #2B2B2B;
}
.cursor {
    display: inline-block;
    width: 4px;
    height: 40px;
    margin-left: 4px;
    background-color: #2B2B2B ;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { background-color: #2b2b2b;}
    49% { background-color: #2b2b2b;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #2b2b2b;}
}
a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #DD5C28;
    font-size: 16px;
    font-weight: bold;
}
a:hover{
    cursor: pointer;
}
a.disabled{
    color: #AAAAAA;
    pointer-events: none;
    cursor: default;
}
a.disabled svg{
    fill: #AAAAAA;
}

/* Utilities */
.landing-main-font{
    font-family: 'Futura bold';
}
.animated-text{
    font-family: 'Futura bold';
}
h1.landing-main-font{
    font-size: 80px;
    margin-bottom: 10px;
    color: #2B2B2B;
}


.color-primary{
    color: #DD5C28;
}
.job-title{
    font-size: 24px;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;;
}
p.landing-text{
    max-width: 540px;
    margin-bottom: 40px;
}

/* First view styling */
.container{
    width: 85%;
    max-width: 1120px;
    margin: auto;
    display: flex;
}
.welcomeView{
    display: flex;
}
.welcome-content{
    margin-top: -20px;
}
.welcomeView .container, .goodbyeView .container{
    flex-direction: column;
}
.experienceBlock .container {
    align-items: center;
}
.btn-primary{
    font-size: 14px;
    height: 52px;
    padding-left: 28px;
    padding-right: 28px;
    color: white;
    background-color: #DD5C28;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
.btn-primary svg{
    margin-left: 16px;
}

.scrollArrow{
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 3;
}
/* experience part styling */
.experienceBlock{
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
}
.experienceBlock svg{
    margin-left: 8px;
    fill: #DD5C28
}
.experienceBlock h4 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;;
    color: #2B2B2B;
    margin-top: 16px;
    margin-bottom: 16px;
}
.experienceBlock h6 {
    font-size: 16px;
    color: #8E8E8E;
}
.experienceBlock p {
    font-size: 14px;
    line-height: 20px;
    color: #454545;
    margin-top: 16px;
    margin-bottom: 16px;
}
.experienceBlock a {
    margin-top: 16px;
    margin-right: 16px;
}

.experienceBlock:nth-of-type(2n-1){
    background-color: #FAFAFA;
}
.experienceBlock .container {
    justify-content: space-between;
}
.exp-cont{
    max-width: 380px;
}
.mediumSlider {
    background-color: #FAFAFA;
    padding-top: 110px;
    padding-bottom: 110px;
}
.mediumSlider h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.swiper-container {
    width: 85%;
    max-width: 1120px;
    height: 280px;
}
.swiper-slide{
    width: 300px;
    height: 200px;
}
.certificateSlider {
    background-color: #ffffff;
    padding-top: 110px;
    padding-bottom: 110px;
}
.certificateSlider h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
/* goodbye view styling*/
.goodbyeView{
    height: 100vh;
    display: flex;
    background-color: #FAFAFA;
}
.goodbyeView svg{
    margin-left: 20px;
    fill: #DD5C28;
}
.goodbyeView h2 {
    font-size: 40px;
    color: #2B2B2B;
    margin-top: 16px;
}
.goodbyeView p {
    font-size: 18px;
    text-align: center;
    max-width: 400px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.goodbyeView .container {
    align-items: center;
    text-align: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider-header{
    position: relative;
    margin-bottom: 40px;
}

.slider-header .swiper-button-prev{
    left: auto;
    right: 0;
    transform: translateX(-200%) rotateZ(180deg);
}
.swiper-button-prev, .swiper-button-next{
    display: inline-flex;
    align-items: center;
}
.swiper-button-prev:focus, .swiper-button-next:focus{
    outline: none;
}
.swiper-button-prev::after, .swiper-button-next::after{
    display: none;
}
.swiper-button-prev svg, .swiper-button-next svg{
    fill: #DD5C28;
}
.swiper-button-prev:hover svg, .swiper-button-next:hover svg{
    fill:  #dd5b28da;
}
.swiper-button-next.swiper-button-disabled svg, .swiper-button-prev.swiper-button-disabled svg{
    fill: #AAAAAA;
}
.swiper-slide{
    flex-wrap: wrap;
    justify-content: left;
}
.thumbnail{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
h4.thumbnail-txt{
    font-size: 18px;
    color: #2B2B2B;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.thumbnail-cert{
    background-color: #FAFAFA;
    padding: 22px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail-cert img{
    width: 177px;
    height: 66px;
}

.cert-arrow-icon{
    fill: #DD5C28;
}

.thumbnail-cert-from{
    color: #4B4B4B;
    font-family: 'Montserrat';
    font-weight: regular;
}

.thumbnail-cert-label{
    color: #2B2B2B;
}

h4.thumbnail-cert-label, h5.thumbnail-cert-from{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    text-align: left;
}

h4.thumbnail-cert-label{
    font-size: 18px;
}

h5.thumbnail-cert-from{
    font-size: 16px;
    font-weight: 200;
}

/* Mobile */
@media(max-width: 1000px){
    .scrollArrow{
        display: none;
    }
    h1.landing-main-font{
        font-size: 56px;
    }
    .animated-text{
        font-size: 32px;
    }
    .experienceBlock:nth-of-type(n) .container {
        flex-direction: column-reverse;
    }
    .experienceBlock:nth-of-type(2n) .container {
        flex-direction: column;
    }
    .experienceBlock .exp-cont{
        max-width: 100%;
    }
    .experienceBlock a{
        font-size: 24px;
    }
    .exp-image{
        width: 100%;
    }
    .exp-image img{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    p.landing-text{
        max-width: 100%;
        font-size: 28px;
    }
    .job-title{
        margin-top: 56px;
    }
    p.landing-text{
        font-size: 16px;
        margin-bottom: 36px;
    }
    a.landing-btn{
        display: flex;
    }

    .scrollArrow img{
        height: 83px;
        width: 53px;
    }
    .exp-cont .links{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }
    .exp-cont a{
        display: inline-block;
        font-size: 16px;
    }

    .scrollArrow{
        transform: translateX(-50%) translateY(-30%);
    }
    .swiper-slide .thumbnail-cert-from, .swiper-slide .thumbnail-cert-label{
        width: 100%;
        text-align: left;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::before, *::after{
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
a{
    outline: none;
    text-decoration: none;
}
body{
    position: relative;
}

/* Header START*/
header{
    width: 100%;
    padding: 32px 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-family: 'Futura Bold';
}

header .burger-menu{
    z-index: 5;
}

nav, .sidenav-overlay{
    position: absolute;
}

.sidenav, .sidenav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}


.sidenav-overlay {
    background-color: #707070;
    opacity: 0.5;
    z-index: 1;
}

.sidenav a {
    width: 100%;
    margin-bottom: 48px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a.active{
    color: #DD5C28;
}

.sidenav a:hover {
    color: #dd5b28c4;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav.active, .sidenav-overlay.active{
    width: 100%;
}

nav.active{
    padding: 0 80px;
}

.breadcrumb{
    font-size: 20px;
}

.breadcrumb .prev{
    color: #848C92;
    display: flex;
    align-items: center;
}

.breadcrumb .prev img{
    margin-left: 16px;
    margin-right: 8 px;
}

.breadcrumb .curr{
    color: #2B2B2B;
}

@media(min-width: 764px){
    header{
        padding: 42px 100px;
        margin-bottom: 58px;
    }
    nav.active{
        width: 500px;
    }
    .breadcrumb .prev{
        display: inline-flex;
    }
}
/* Header END */

/* Page utilities START */
.page-container{
    margin: 0 24px;
    display: flex;
    flex-direction: column;
}

.page-container .item{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.page-container .item .item-thumbnail{
    width: 100%;
    height: 243px;
    margin-bottom: 32px;
    background-color: red;
}

.page-container .item .item-details .item-status,
.page-container .item .item-details .item-school{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.page-container .item .item-details .item-header{
    font-family: 'Futura Bold';
    font-size: 30px;
    margin-bottom: 24px;
    color: #2B2B2B;
}

.page-container .item .item-details .item-txt{
    font-size: 16px;
    font-weight: 400;
    color: #2B2B2B;
    margin-bottom: 40px;
    max-width: 600px;
}

.page-container .item .item-details .item-actions{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}


.page-container .item .item-details .item-actions .action{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 6px;
    color: #fff;
}

.page-container .item .item-details .item-actions .action img{
    margin-left: 34px;
}

.action-to-article{
    background-color: #848C92;
}

.action-to-website{
    background-color: #2B2B2B;
}

@media(min-width: 764px){
    .page-container{
        margin: 0 100px;
    }

    .page-container .item{
        flex-direction: row;
        margin-bottom: 140px;
    }

    .page-container .item .item-thumbnail{
        height: 463px;
        width: 620px;
        margin-right: 64px;
        margin-bottom: 0;
    }

    .page-container .item .item-details{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }

    .page-container .item .item-details .item-actions{
        width: auto;
        flex-direction: row;
    }

    .page-container .item .item-details .item-actions .action{  
        width: 180px;
        margin-right: 40px;
    }
    .page-container .item .item-details .item-header{
        margin-bottom: 42px;
    }
}
/* Page utilities END */

.progress-ring{
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 0;
    transition: all 0.35s ease-in-out;
}

.progress-ring.active{
    cursor: pointer;
    opacity: 1;
    transition: all 0.35s ease-in-out;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring .a{
    transform: translateX(22px) translateY(36px) rotateZ(-90deg);
}

.landing{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.articles .article-container{
    width: 45%;
    display: inline-grid;
    margin-bottom: 80px;
    position: relative;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px 70px 20px; 
}

.articles .article-container img{
    width: 200px;
    height: 140px;
    margin-right: 18px;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.articles .article-container .title{
    color: #232323;
    font-family: 'Futura Bold';
    font-size: 16px;
    padding-left: 18px;
}

.articles .article-container .intro{
    color: #454545;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 18px;
}

.articles .article-container .read-article-btn a{
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: #848C92;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.articles .article-container .read-article-btn a svg{
    margin-left: 16px;
}

@media(max-width: 1300px){
    .articles .article-container{
        width: 100%;
        grid-template-columns: 220px auto;
        grid-template-rows: 160px auto auto; 
        grid-row-gap: 15px;
        margin-bottom: 80px;
    }

    .articles .article-container img{
        width: 220px;
        height: 160px;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .articles .article-container .title{
        display: inline-block;
    }

    .articles .article-container .intro{
        grid-column-start: 1;
        grid-column-end: span 2;
        padding-left: 0;
    }

    .articles .article-container .read-article-btn{
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .articles .article-container .read-article-btn a{
        position: relative;
        bottom: 0;
        right: 0;
        border: none;
        background-color: transparent;
        color: #848C92;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        cursor: pointer;
    }
}

@media(max-width: 600px){
    .articles .article-container{
        width: 100%;
        grid-template-columns: 110px auto;
        grid-template-rows: 80px auto auto; 
        grid-row-gap: 15px;
        margin-bottom: 80px;
    }

    .articles .article-container img{
        width: 110px;
        height: 80px;
        grid-row-start: 1;
        grid-row-end: span 1;
    }

    .articles .article-container .title{
        display: inline-block;
    }

    .articles .article-container .intro{
        grid-column-start: 1;
        grid-column-end: span 2;
        padding-left: 0;
    }

    .articles .article-container .read-article-btn{
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .articles .article-container .read-article-btn a{
        position: relative;
        bottom: 0;
        right: 0;
        border: none;
        background-color: transparent;
        color: #848C92;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        cursor: pointer;
    }
}